body {
  color: #434455; /* Глобальний колір тексту */
  background-color: #ffffff; /* Загальний фон сторінки */

  /* Твої шрифти, які вже підключені */
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;

  list-style: none; /* Видаляємо стандартні маркери списків */
}

a {
  text-decoration: none; /* Видаляємо підкреслення у посилань */
  color: inherit; /* Наслідуємо колір тексту для посилань */
}

.logo {
  font-size: 18px; /* Розмір шрифту для логотипу */
  font-weight: 700; /* Жирність для логотипу */
  letter-spacing: 0.03em; /* Інтервал між літерами для логотипу */
  line-height: 1.16667; /* line-height: 21px; */
  text-transform: uppercase;
}

.color-primary-brand {
  color: var(--iris);
  color: #5f5bff; /* IRIS / Яскравий фіолетовий колір для основного бренду */
}

.section-title {
  font-size: 36px;
  font-weight: 700; /* Bold */
  letter-spacing: 0.02em;
  line-height: 1.11111; /* line-height: 40px; */
  text-align: center; /* Вирівнюємо заголовки секцій по центру */
  color: var(--navy-blue);
  color: #2e2f42; /* Navy-blue Колір заголовка */
}
