.footer {
  background-color: #2e2f42; /* Navy-blue / Dark Дуже темний, майже чорний колір (із синім відтінком) фон для футера */
  /* background-color: var(--navy-blue); */
}

#footer .logo {
  color: var(--cloud);
  color: #f4f4f4; /* Колір Cloud М'який світло-сірий колір*/
}

.footer-text {
  font-size: 16px; /* Розмір шрифту для тексту в футері */
  font-weight: 400; /* Normal */

  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.02em; /* Інтервал між літерами для тексту в футері */

  color: var(--cloud);
  color: #f4f4f4; /* Колір Cloud М'який світло-сірий колір*/
}
