.logo {
  font-size: 18px; /* Розмір шрифту для логотипу */
  font-weight: 700; /* Жирність для логотипу */
  letter-spacing: 0.02em; /* Інтервал між літерами для логотипу */

  line-height: 1.16667; /* line-height: 21px; */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42; /* Колір Dark */
  /* color: var(--iris); */
}
.color-primary-brand {
  color: #4d5ae5; /* Колір Primary Brand */
}
