.hero {
  display: flex; /* Використовуємо Flexbox для вирівнювання вмісту */
  flex-direction: column; /* Розташовуємо елементи вертикально */
  align-items: center; /* Вирівнюємо елементи по центру по горизонталі */
  justify-content: center; /* Вирівнюємо елементи по центру по вертикалі */
  background-color: #2e2f42; /* --navy-blue */

  width: 1440px;
  height: 600px;
}

.hero .title {
  font-size: 56px; /* Розмір шрифту для заголовка */
  font-weight: 700; /* Жирність для заголовка */
  line-height: 1.07143; /* Висота рядка для заголовка */ /* line-height: 60px; */
  letter-spacing: 0.02em; /* Інтервал між літерами для заголовка */
  text-align: center; /* Вирівнюємо заголовки секцій по центру */
  color: var(--white);
  color: #ffffff; /* Білий колір для заголовка */
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;

  background: var(--iris);
  background-color: #4d5ae5; /* Колір Primary Brand для кнопки */
  border: none; /* Видаляємо рамку у кнопки */
  border-radius: 4px; /* Закругляємо кути кнопки */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  cursor: pointer; /* Змінюємо курсор при наведенні на кнопку */

}

.button:hover {
  background: var(--ocean);
  background-color: #404bbf; /* Темніший відтінок для ефекту при наведенні */
}

.button .button-text {
  font-size: 16px; /* Розмір шрифту для кнопки */
  font-weight: 500; /* Жирність для кнопки */
  line-height: 1.5; /* line-height: 24px; */
  letter-spacing: 0.04em;
  color: var(--white);
  color: #ffffff; /* Білий колір тексту на кнопці */
}
